.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.mainDiv .h1 {
  font-size: 7vw;
  margin: 50px 0 0;
}

.ucitajKarticu {
  font-size: 50px;
  margin: 20px;
  color: rgb(42, 42, 42);
}

.inputUcitajKarticu {
  font-size: 40px;
  text-align: center;
  background: transparent;
}

.podaciOKorisniku {
  font-size: 120px;
  letter-spacing: 5px;
  margin: 100px 20px 0;
  font-family: "Myriad Pro Bold", serif;
  text-align: center;
}

.podaciOKorisniku__alt {
  font-size: 100px;
}

.dat_rodAdresa {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
  margin-bottom: 100px;
  font-family: "Myriad Pro Bold", serif;
}

.dat_rodAdresa > p {
  font-size: 40px !important;
  font-family: "Myriad Pro", serif;
}

.dat_rodAdresa h3 {
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0 200px;
  text-align: center;
  font-family: "Myriad Pro Italic", serif;
  font-weight: 400;
}

.dat_rodAdresa span {
  padding-top: 20px;
  font-weight: bold;
}

.dat_rodAdresa p {
  margin: 10px;
  font-size: 50px;
  /*font-family: "Courier New", Courier, monospace;*/
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 7vw;
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
}

.informacije {
  display: flex;
  width: 90%;
  position: absolute;
  margin-top: 15%;
  left: 50px;
}

.button {
  background-color: #3a73ac;
  width: 200px;
  height: 100px;
  font-size: 20px;
  color: #ecf0f1;
  border: none;
  outline: none;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.h1Zavod {
  font-size: 3.5vw;
  text-align: center;
  margin-bottom: 0;
  /* padding-top: 60px; */
  /* margin-top: 20px; */
  margin-top: 200px;
  font-family: "Myriad Pro Italic", serif;
  width: 90%;
  font-weight: 400;
}

.divKartica {
  /* width: 95%; */
  width: 100%;
  height: 98%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.karica {
  width: 500px;
}

.logo {
  margin: 250px 0 30px 0;
  width: 500px;
}

.nazadDiv {
  width: 95vw;
  position: absolute;
  top: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Poluprozirna pozadina */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Postavite z-index da biste bili iznad ostalog sadržaja */
  display: flex;
  flex-direction: column;
}

.confirmationBox {
  display: flex;
  align-items: center;
  gap: 100px;
}

.backdrop h1 {
  font-size: 70px;
  color: white;
}

/* Dodatni stil za onemogućavanje pozadinskog sadržaja */
body.show-backdrop {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}
