.mainDivInformacije::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../../../assets/pexels-photo-4225923.webp");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.informacijeDiv {
  margin-top: 14.5% !important;
  font-size: 1.5vw;
  height: 100%;
  width: 95%;
  text-align: center;
  display: flex;
}

.buttons {
  position: absolute;
  top: 75%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 7vw;
  width: 100%;
  height: 23%;
  margin-bottom: 72px;
}

.divBtn {
  display: flex;
  position: absolute;
  justify-content: left;
  padding-top: 50px;
  width: 95%;
  margin-left: 50px;
}

.divBtnRezerva {
  display: flex;
  position: absolute;
  justify-content: left;
  padding-top: 50px;
  width: 95%;
  margin-left: 50px;
}

.slika {
  margin-top: 100px;
}

.h4 {
  font-family: "Myriad Pro Bold", serif;
  font-size: 45px;
  margin-top: 0;
}

.button {
  display: flex;
  align-items: center;
}

.p1 {
  font-size: 2.1vw;
  line-height: 2;
  margin-top: 50px;
  text-align: left;
  font-family: "Myriad Pro", serif;
  margin-left: 200px;
}

.p1Rezerva {
  font-size: 2.1vw;
  line-height: 2;
  margin-top: 50px;
  text-align: left;
  font-family: "Myriad Pro", serif;
  margin-left: 200px;
}

.informacijeDivDrugaVarijanta {
  margin-top: 12% !important;
  font-size: 1.5vw;
  height: 95%;
  width: 95%;
  text-align: center;
  display: flex;
}

.p1DrugaVarijanta {
  font-size: 2.1vw;
  line-height: 2;
  margin-top: 50px;
  text-align: left;
  font-family: "Myriad Pro", serif;
}

.slikaDrugaVarijanta {
  margin-top: 50px;
  width: 50%;
}

.tekst {
  height: 80%;
}

.slikaTrecaVarijanta {
  margin-top: 0;
}

.slikaCetvrtaVarijanta {
  margin-top: 150px;
  display: flex;
  justify-content: flex-end;
  width: 55%;
}

.p1TrecaVarijanta {
  margin-left: 150px;
  font-size: 2.1vw;
  line-height: 2;
  margin-top: 50px;
  text-align: left;
  font-family: "Myriad Pro", serif;
}
