html,
body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Myriad Pro", serif;
  color: white;
}

@font-face {
  font-family: "Myriad Pro Italic Bold";
  src: local("Myriad Pro"),
    url("./fonts/MyriadPro-BlackIt.otf") format("opentype");
}

@font-face {
  font-family: "Myriad Pro";
  src: local("Myriad Pro"),
    url("./fonts/MyriadPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: local("Myriad Pro"), url("./fonts/MyriadPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Myriad Pro Italic";
  src: local("Myriad Pro"), url("./fonts/MyriadPro-It.otf") format("opentype");
}

@font-face {
  font-family: "Warnock Semi Bold";
  src: local("Warnock Pro"),
    url("./fonts/WarnockPro-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Warnock Pro";
  src: local("Warnock Pro"),
    url("./fonts/WarnockPro-Regular.otf") format("opentype");
}

/* body::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/bg-min.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 60%;
  opacity: var(--before-opacity, 0.6);
} */

body::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/bg-min.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

.divApp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.divApp_h1 {
  /* margin: 0; */
  font-size: 4vw;
  margin: 20px;
}

.divTekst {
  height: 20vh;
  display: flex;
  align-items: center;
}

.divLogo {
  height: 20vh;
}

.logo {
  margin: 0px 0 30px 0;
  width: 500px;
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 7vw;
  width: 100%;
  height: 50%;
  margin-bottom: 80px;
}

.bodyDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
